body {
	font-size: 16px;
	font-family: monospace;
	color: #444;
}

html, body {
	padding: 0;
	margin: 0;
}

canvas {
	display: block;
}

.card {
	padding: 1em;
	border-radius: 3px;
	border: 1px solid #ccc;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	width: 35em;
	margin: 1em auto;
}
